Repository certbot/certbot, pull requests merged in 2019-03, with the labels that each got.

#6578 [Unix] Create a framework for certbot integration tests: PART 1
  certbot-ci/certbot_integration_tests/.coveragerc
  certbot-ci/certbot_integration_tests/__init__.py
  certbot-ci/certbot_integration_tests/certbot_tests/__init__.py
  certbot-ci/certbot_integration_tests/certbot_tests/context.py
  certbot-ci/certbot_integration_tests/certbot_tests/test_main.py
  certbot-ci/certbot_integration_tests/conftest.py
  certbot-ci/certbot_integration_tests/nginx_tests/__init__.py
  certbot-ci/certbot_integration_tests/nginx_tests/context.py
  certbot-ci/certbot_integration_tests/nginx_tests/test_main.py
  certbot-ci/certbot_integration_tests/utils/__init__.py
  certbot-ci/certbot_integration_tests/utils/acme_server.py
  certbot-ci/certbot_integration_tests/utils/misc.py
  certbot-ci/setup.py
  tools/dev_constraints.txt
  tox.ini
Labels: current sprint

#6799 Fix spurious test_relevant_values* failures
  certbot/tests/cli_test.py
  certbot/tests/storage_test.py
Labels: area: code health, area: testing

#6818 Move the OCSP change to the right section.
  CHANGELOG.md
Labels: area: documentation

#6826 Drop expected Apache coverage to workaround #6813.
  tox.cover.py
Labels: area: apache, area: code health, area: testing

#6838 Calculate timedelta with thisUpdate/nextUpdate in UTC
  certbot/ocsp.py
Labels: area: ocsp

#6845 Mention OCSP UTC fix in changelog.
  CHANGELOG.md
Labels: area: documentation, area: ocsp, area: pkging

#6852 Remove tls-sni integration tests
  certbot-nginx/tests/boulder-integration.sh
  tests/boulder-fetch.sh
  tests/certbot-boulder-integration.sh
  tests/integration/_common.sh
Labels: area: code health, area: testing, current sprint

#6860 Use Python3 to run tools/venv3.py.
  tools/venv3.py
Labels: area: code health, area: testing

#6856 Remove tls-sni challenge in standalone plugin
  certbot/plugins/standalone.py
  certbot/plugins/standalone_test.py
Labels: area: code health, area: standalone, area: testing, current sprint

#6854 Remove tls-sni in compatibility tests
  certbot-compatibility-test/certbot_compatibility_test/configurators/common.py
  certbot-compatibility-test/certbot_compatibility_test/test_driver.py
Labels: area: code health, area: compatibility-test, area: testing, current sprint

#6855 Remove tls-sni challenge in manual plugin
  certbot/plugins/manual.py
  certbot/plugins/manual_test.py
Labels: area: code health, area: manual authenticator, area: testing, current sprint

#6858 Remove tls sni in apache plugin
  certbot-apache/certbot_apache/configurator.py
  certbot-apache/certbot_apache/tests/configurator_test.py
  certbot-apache/certbot_apache/tests/tls_sni_01_test.py
  certbot-apache/certbot_apache/tls_sni_01.py
Labels: area: apache, area: code health, area: testing, current sprint

#6857 Remove tls sni in nginx plugin
  certbot-nginx/certbot_nginx/configurator.py
  certbot-nginx/certbot_nginx/tests/configurator_test.py
  certbot-nginx/certbot_nginx/tests/tls_sni_01_test.py
  certbot-nginx/certbot_nginx/tests/util.py
  certbot-nginx/certbot_nginx/tls_sni_01.py
  certbot-nginx/tests/boulder-integration.conf.sh
  tests/certbot-boulder-integration.sh
  tests/integration/_common.sh
Labels: area: code health, area: nginx, area: testing, current sprint

#6839 Construct the sanitized, pinned and hashed requirements file for certbot-auto
  letsencrypt-auto-source/letsencrypt-auto
  letsencrypt-auto-source/letsencrypt-auto.template
  letsencrypt-auto-source/pieces/create_venv.py
  letsencrypt-auto-source/pieces/dependency-requirements.txt
  letsencrypt-auto-source/pieces/pipstrap.py
  letsencrypt-auto-source/rebuild_dependencies.py
Labels: area: certbot-auto, area: code health, area: pkging

#6865 [Windows] Fix some unit tests
  certbot/plugins/manual_test.py
  certbot/tests/cli_test.py
  certbot/tests/lock_test.py
  certbot/tests/main_test.py
Labels: area: code health, area: testing, area: windows, current sprint

#6884 Document dropped tls-sni-01 support in plugins.
  CHANGELOG.md
Labels: area: documentation

#6853 Remove tls-sni related flags in cli. Add a deprecation warning instead.
  CHANGELOG.md
  certbot-nginx/certbot_nginx/configurator.py
  certbot-nginx/certbot_nginx/tests/util.py
  certbot/cli.py
  certbot/configuration.py
  certbot/constants.py
  certbot/interfaces.py
  certbot/plugins/standalone.py
  certbot/plugins/standalone_test.py
  certbot/renewal.py
  certbot/tests/cli_test.py
  certbot/tests/configuration_test.py
  certbot/tests/renewal_test.py
  certbot/tests/testdata/sample-renewal-ancient.conf
  certbot/tests/testdata/sample-renewal.conf
  certbot/tests/util_test.py
  certbot/util.py
  docs/cli-help.txt
  docs/using.rst
  examples/cli.ini
  tests/integration/_common.sh
Labels: area: code health, area: testing, current sprint

#6859 Deprecate all tls-sni related objects in acme module
  CHANGELOG.md
  acme/acme/__init__.py
  acme/acme/challenges.py
  acme/acme/challenges_test.py
  acme/acme/crypto_util.py
  acme/acme/messages.py
  acme/acme/standalone.py
  acme/acme/standalone_test.py
  acme/acme/test_util.py
  pytest.ini
Labels: area: acme, area: code health, current sprint

#6890 Bump the min Certbot version for nginx plugin.
  certbot-nginx/local-oldest-requirements.txt
  certbot-nginx/setup.py
Labels: area: testing

#6892 Fix acme race condition
  acme/acme/standalone_test.py
Labels: area: acme, area: code health, area: testing

#6891 Bump min nginx requirements to tested versions.
  certbot-nginx/setup.py
Labels: area: nginx, area: testing, bug

#6868 [Windows] Fix ErrorHandler tests, by disabling signal error handling
  certbot/error_handler.py
  certbot/tests/error_handler_test.py
Labels: area: code health, area: error handling, area: testing, area: windows, current sprint
