Repository certbot/certbot, pull requests merged in 2019-09, with the labels that each got.

#7324 [Windows] Create an installer for Certbot
  windows-installer/.gitignore
  windows-installer/certbot.ico
  windows-installer/construct.py
  windows-installer/run.bat
Labels: area: install, area: pkging, area: windows

#7364 Update files from 0.38.0 release
  CHANGELOG.md
  acme/setup.py
  certbot-apache/setup.py
  certbot-auto
  certbot-compatibility-test/setup.py
  certbot-dns-cloudflare/setup.py
  certbot-dns-cloudxns/setup.py
  certbot-dns-digitalocean/setup.py
  certbot-dns-dnsimple/setup.py
  certbot-dns-dnsmadeeasy/setup.py
  certbot-dns-gehirn/setup.py
  certbot-dns-google/setup.py
  certbot-dns-linode/setup.py
  certbot-dns-luadns/setup.py
  certbot-dns-nsone/setup.py
  certbot-dns-ovh/setup.py
  certbot-dns-rfc2136/setup.py
  certbot-dns-route53/setup.py
  certbot-dns-sakuracloud/setup.py
  certbot-nginx/setup.py
  certbot/__init__.py
  docs/cli-help.txt
  letsencrypt-auto
  letsencrypt-auto-source/certbot-auto.asc
  letsencrypt-auto-source/letsencrypt-auto
  letsencrypt-auto-source/letsencrypt-auto.sig
  letsencrypt-auto-source/pieces/certbot-requirements.txt
Labels: area: certbot-auto, area: documentation, area: pkging

#7323 Simplify testing of RHEL 8
  tests/letstest/scripts/test_leauto_upgrades.sh
Labels: area: certbot-auto, area: fedora / redhat / CentOS, area: testing

#7325 [Windows|Linux] Forbid os.stat and os.fstat
  .codecov.yml
  certbot-apache/certbot_apache/tests/http_01_test.py
  certbot-apache/local-oldest-requirements.txt
  certbot-apache/setup.py
  certbot-dns-cloudflare/local-oldest-requirements.txt
  certbot-dns-cloudflare/setup.py
  certbot-dns-cloudxns/local-oldest-requirements.txt
  certbot-dns-cloudxns/setup.py
  certbot-dns-digitalocean/local-oldest-requirements.txt
  certbot-dns-digitalocean/setup.py
  certbot-dns-dnsimple/local-oldest-requirements.txt
  certbot-dns-dnsimple/setup.py
  certbot-dns-dnsmadeeasy/local-oldest-requirements.txt
  certbot-dns-dnsmadeeasy/setup.py
  certbot-dns-gehirn/local-oldest-requirements.txt
  certbot-dns-gehirn/setup.py
  certbot-dns-google/local-oldest-requirements.txt
  certbot-dns-google/setup.py
  certbot-dns-linode/local-oldest-requirements.txt
  certbot-dns-linode/setup.py
  certbot-dns-luadns/local-oldest-requirements.txt
  certbot-dns-luadns/setup.py
  certbot-dns-nsone/local-oldest-requirements.txt
  certbot-dns-nsone/setup.py
  certbot-dns-ovh/local-oldest-requirements.txt
  certbot-dns-ovh/setup.py
  certbot-dns-rfc2136/local-oldest-requirements.txt
  certbot-dns-rfc2136/setup.py
  certbot-dns-route53/local-oldest-requirements.txt
  certbot-dns-route53/setup.py
  certbot-dns-sakuracloud/local-oldest-requirements.txt
  certbot-dns-sakuracloud/setup.py
  certbot/compat/filesystem.py
  certbot/compat/misc.py
  certbot/compat/os.py
  certbot/lock.py
  certbot/plugins/dns_common.py
  certbot/plugins/dns_common_test.py
  certbot/plugins/webroot_test.py
  certbot/storage.py
  certbot/tests/compat/filesystem_test.py
  certbot/tests/compat/os_test.py
  certbot/tests/lock_test.py
  tox.ini
Labels: area: code health, area: windows

#7384 Fix Windows sdist
  setup.py
Labels: area: pkging, area: windows

#7371 [Windows] Create a certbot renew scheduled task using the installer
  tools/dev_constraints.txt
  windows-installer/construct.py
  windows-installer/renew-down.ps1
  windows-installer/renew-up.ps1
  windows-installer/template.nsi
Labels: area: install, area: renewal, area: windows

#7387 Don't send OCSP requests for expired certificates
  CHANGELOG.md
  certbot/cert_manager.py
  certbot/ocsp.py
  certbot/tests/ocsp_test.py
Labels: area: ocsp, area: ui / ux

#7392 List support for Python 3.8
  CHANGELOG.md
  acme/setup.py
  certbot-apache/setup.py
  certbot-ci/setup.py
  certbot-compatibility-test/setup.py
  certbot-dns-cloudflare/setup.py
  certbot-dns-cloudxns/setup.py
  certbot-dns-digitalocean/setup.py
  certbot-dns-dnsimple/setup.py
  certbot-dns-dnsmadeeasy/setup.py
  certbot-dns-gehirn/setup.py
  certbot-dns-google/setup.py
  certbot-dns-linode/setup.py
  certbot-dns-luadns/setup.py
  certbot-dns-nsone/setup.py
  certbot-dns-ovh/setup.py
  certbot-dns-rfc2136/setup.py
  certbot-dns-route53/setup.py
  certbot-dns-sakuracloud/setup.py
  certbot-nginx/setup.py
  letshelp-certbot/setup.py
  setup.py
Labels: area: documentation, area: pkging, area: python

#7409 Remove listing for deprecated heroku plugin
  docs/using.rst
Labels: area: 3rd party, area: documentation

#7408 Remove listing for broken icecast plugin.
  docs/using.rst
Labels: area: 3rd party, area: documentation

#7406 Add CentOS 8 support to certbot-auto.
  CHANGELOG.md
  letsencrypt-auto-source/letsencrypt-auto
  letsencrypt-auto-source/letsencrypt-auto.template
Labels: area: certbot-auto, area: fedora / redhat / CentOS
