Repository certbot/certbot, pull requests merged in 2019-02, with the labels that each got.

#6573 Remove spdy cruft
  certbot/constants.py
Labels: area: code health, area: security enhancements

#6572 Remove IValidator
  certbot-compatibility-test/certbot_compatibility_test/validator.py
  certbot/interfaces.py
Labels: area: code health, area: compatibility-test

#6689 acme: add TLSALPN01Response for initiating tls-alpn-01.
  CHANGELOG.md
  acme/acme/challenges.py
  acme/acme/challenges_test.py
Labels: area: acme, area: code health, area: spec-compliance

#6735 Clarify what a "renewal attempt" is in documentation
  docs/using.rst
Labels: area: documentation

#6603 Use built-in support for OCSP in cryptography >= 2.5
  CHANGELOG.md
  certbot/crypto_util.py
  certbot/ocsp.py
  certbot/tests/ocsp_test.py
  certbot/tests/testdata/google_certificate.pem
  certbot/tests/testdata/google_issuer_certificate.pem
  certbot/util.py
  letsencrypt-auto-source/letsencrypt-auto
  letsencrypt-auto-source/pieces/dependency-requirements.txt
Labels: area: code health, area: ocsp, current sprint

#6729 Apache plugin: configure all matching domain names to be able to answer HTTP challenge.
  CHANGELOG.md
  certbot-apache/certbot_apache/configurator.py
  certbot-apache/certbot_apache/http_01.py
  certbot-apache/certbot_apache/tests/configurator_test.py
  certbot-apache/certbot_apache/tests/http_01_test.py
  certbot-apache/certbot_apache/tests/parser_test.py
  certbot-apache/certbot_apache/tests/testdata/debian_apache_2_4/multiple_vhosts/apache2/sites-available/duplicatehttp.conf
  certbot-apache/certbot_apache/tests/testdata/debian_apache_2_4/multiple_vhosts/apache2/sites-available/duplicatehttps.conf
  certbot-apache/certbot_apache/tests/testdata/debian_apache_2_4/multiple_vhosts/apache2/sites-enabled/duplicatehttp.conf
  certbot-apache/certbot_apache/tests/testdata/debian_apache_2_4/multiple_vhosts/apache2/sites-enabled/duplicatehttps.conf
  certbot-apache/certbot_apache/tests/util.py
Labels: area: apache

#6741 Test all on push events to tested non-master branches.
  .travis.yml
Labels: area: code health, area: testing

#6754 Release 0.31.0
  CHANGELOG.md
  acme/setup.py
  certbot-apache/setup.py
  certbot-auto
  certbot-compatibility-test/setup.py
  certbot-dns-cloudflare/setup.py
  certbot-dns-cloudxns/local-oldest-requirements.txt
  certbot-dns-cloudxns/setup.py
  certbot-dns-digitalocean/setup.py
  certbot-dns-dnsimple/local-oldest-requirements.txt
  certbot-dns-dnsimple/setup.py
  certbot-dns-dnsmadeeasy/local-oldest-requirements.txt
  certbot-dns-dnsmadeeasy/setup.py
  certbot-dns-gehirn/local-oldest-requirements.txt
  certbot-dns-gehirn/setup.py
  certbot-dns-google/setup.py
  certbot-dns-linode/local-oldest-requirements.txt
  certbot-dns-linode/setup.py
  certbot-dns-luadns/local-oldest-requirements.txt
  certbot-dns-luadns/setup.py
  certbot-dns-nsone/local-oldest-requirements.txt
  certbot-dns-nsone/setup.py
  certbot-dns-ovh/local-oldest-requirements.txt
  certbot-dns-ovh/setup.py
  certbot-dns-rfc2136/setup.py
  certbot-dns-route53/setup.py
  certbot-dns-sakuracloud/local-oldest-requirements.txt
  certbot-dns-sakuracloud/setup.py
  certbot-nginx/setup.py
  certbot/__init__.py
  docs/cli-help.txt
  letsencrypt-auto
  letsencrypt-auto-source/certbot-auto.asc
  letsencrypt-auto-source/letsencrypt-auto
  letsencrypt-auto-source/letsencrypt-auto.sig
  letsencrypt-auto-source/pieces/certbot-requirements.txt
Labels: area: certbot-auto, area: pkging

#6761 Increase minimum josepy requirement
  CHANGELOG.md
  acme/setup.py
  setup.py
Labels: area: acme, area: pkging

#6762 More carefully check for certbot --version output.
  tests/letstest/scripts/test_leauto_upgrades.sh
Labels: area: code health, area: testing

#6764 Pin pytest in test_sdists.sh.
  tests/letstest/scripts/test_sdists.sh
  tests/letstest/scripts/test_tests.sh
Labels: area: code health, area: testing

#6663 [Windows|Unix] New platform independent locking mechanism - the revenge
  certbot/compat.py
  certbot/lock.py
  certbot/tests/lock_test.py
  certbot/tests/util_test.py
Labels: current sprint

#6788 Log the execution of manual hooks
  CHANGELOG.md
  certbot/hooks.py
  certbot/plugins/manual.py
  certbot/tests/hook_test.py
Labels: area: logging, area: manual authenticator, area: ui / ux

#5494 Add acme library usage example (http-01)
  acme/examples/http01_example.py
Labels: area: acme, area: documentation

#6791 Remove display.py.
  tests/display.py
Labels: area: code health, area: testing

#6795 Warn sysadmins about privilege escalation risk
  docs/install.rst
Labels: area: documentation, area: security
