Repository certbot/certbot, pull requests merged in 2020-03, with the labels that each got.

#7831 Update files from 1.3.0 release
  acme/setup.py
  certbot-apache/setup.py
  certbot-auto
  certbot-compatibility-test/setup.py
  certbot-dns-cloudflare/setup.py
  certbot-dns-cloudxns/setup.py
  certbot-dns-digitalocean/setup.py
  certbot-dns-dnsimple/setup.py
  certbot-dns-dnsmadeeasy/setup.py
  certbot-dns-gehirn/setup.py
  certbot-dns-google/setup.py
  certbot-dns-linode/setup.py
  certbot-dns-luadns/setup.py
  certbot-dns-nsone/setup.py
  certbot-dns-ovh/setup.py
  certbot-dns-rfc2136/setup.py
  certbot-dns-route53/setup.py
  certbot-dns-sakuracloud/setup.py
  certbot-nginx/setup.py
  certbot/CHANGELOG.md
  certbot/certbot/__init__.py
  certbot/docs/cli-help.txt
  letsencrypt-auto
  letsencrypt-auto-source/certbot-auto.asc
  letsencrypt-auto-source/letsencrypt-auto
  letsencrypt-auto-source/letsencrypt-auto.sig
  letsencrypt-auto-source/pieces/certbot-requirements.txt
Labels: area: certbot-auto, area: pkging

#7838 Fix issues with Azure Pipelines
  .azure-pipelines/templates/installer-tests.yml
Labels: area: testing, area: windows

#7833 Add changes to the correct changelog entry
  certbot/CHANGELOG.md
Labels: area: documentation

#7832 Remove --no-site-packages outside of certbot-auto.
  certbot-compatibility-test/Dockerfile
  tools/_release.sh
Labels: area: code health, area: pkging

#7843 Fix issues with Azure Pipelines on 1.3.x
  .azure-pipelines/templates/installer-tests.yml
Labels: area: pkging, area: testing, area: windows

#7837 Exposes environment variable to let hooks scripts know when the last challenge is handled
  certbot/CHANGELOG.md
  certbot/certbot/_internal/plugins/manual.py
  certbot/docs/using.rst
  certbot/tests/plugins/manual_test.py
Labels: area: hooks, area: manual authenticator

#6886 Reimplement tls-alpn-01 in acme
  acme/acme/challenges.py
  acme/acme/crypto_util.py
  acme/acme/standalone.py
  acme/tests/challenges_test.py
  acme/tests/crypto_util_test.py
  acme/tests/standalone_test.py
  acme/tests/testdata/README
  acme/tests/testdata/rsa1024_cert.pem
  certbot/CHANGELOG.md
Labels: area: acme

#7176 Fix acme compliance to RFC 8555
  acme/acme/challenges.py
  acme/acme/client.py
  acme/acme/messages.py
  acme/acme/mixins.py
  acme/tests/challenges_test.py
  acme/tests/client_test.py
  acme/tests/messages_test.py
  certbot-ci/certbot_integration_tests/utils/acme_server.py
  certbot-ci/certbot_integration_tests/utils/pebble_artifacts.py
  certbot-nginx/local-oldest-requirements.txt
  certbot-nginx/setup.py
  certbot/CHANGELOG.md
  certbot/local-oldest-requirements.txt
  certbot/setup.py
Labels: area: acme, area: code health, area: testing

#7848 Cleanup more pylint issues
  acme/acme/magic_typing.py
  acme/tests/client_test.py
  acme/tests/crypto_util_test.py
  acme/tests/magic_typing_test.py
  acme/tests/messages_test.py
  acme/tests/standalone_test.py
  certbot-apache/certbot_apache/_internal/augeasparser.py
  certbot-apache/certbot_apache/_internal/entrypoint.py
  certbot-apache/certbot_apache/_internal/interfaces.py
  certbot-apache/tests/augeasnode_test.py
  certbot-apache/tests/http_01_test.py
  certbot-nginx/certbot_nginx/_internal/configurator.py
  certbot-nginx/tests/parser_test.py
  certbot/certbot/_internal/cli/helpful.py
  certbot/certbot/_internal/plugins/disco.py
  certbot/certbot/compat/filesystem.py
  certbot/tests/compat/filesystem_test.py
  certbot/tests/display/completer_test.py
  certbot/tests/error_handler_test.py
  certbot/tests/hook_test.py
  certbot/tests/log_test.py
  certbot/tests/main_test.py
  certbot/tests/plugins/disco_test.py
  certbot/tests/plugins/selection_test.py
  certbot/tests/plugins/standalone_test.py
Labels: area: code health, area: nginx

#7864 Wait 5 minutes instead of 4 for boulder to start
  certbot-ci/certbot_integration_tests/utils/acme_server.py
Labels: area: code health, area: testing

#7861 Remove interactive redirect ask
  certbot/CHANGELOG.md
  certbot/certbot/_internal/cli/__init__.py
  certbot/certbot/_internal/client.py
  certbot/certbot/_internal/display/enhancements.py
  certbot/certbot/_internal/main.py
  certbot/tests/client_test.py
  certbot/tests/display/enhancements_test.py
Labels: area: security enhancements, area: ui / ux

#7870 Add a step to check powershell version in vs2017-win2016
  .azure-pipelines/templates/installer-tests.yml
Labels: area: install, area: testing, area: windows
