Repository certbot/certbot, pull requests merged in 2021-06, with the labels that each got.

#8857 cli: dont use argv[0] in user-facing messages
  certbot/certbot/_internal/main.py
Labels: area: ui / ux

#8884 cli: improve error messages for enhance errors
  certbot-nginx/certbot_nginx/_internal/configurator.py
  certbot/certbot/_internal/client.py
  certbot/tests/client_test.py
Labels: area: error handling, area: nginx, area: ui / ux

#8895 Allow nginx parser to handle empty file
  certbot-nginx/certbot_nginx/_internal/nginxparser.py
  certbot-nginx/tests/configurator_test.py
  certbot-nginx/tests/nginxparser_test.py
  certbot-nginx/tests/parser_test.py
  certbot/CHANGELOG.md
Labels: area: nginx, area: ui / ux, bug

#8891 certbot-apache: Add Void Linux overrides
  certbot-apache/certbot_apache/_internal/entrypoint.py
  certbot-apache/certbot_apache/_internal/override_void.py
  certbot/CHANGELOG.md
Labels: area: apache

#8901 certonly: hide "NEXT STEPS" for dry-runs
  certbot/certbot/_internal/main.py
  certbot/tests/main_test.py
Labels: area: ui / ux

#8914 cli: vary renewal advice for hookless manual certs
  certbot/certbot/_internal/main.py
  certbot/tests/main_test.py
Labels: area: manual authenticator, area: renewal, area: ui / ux

#8898 apache: configure nameless vhosts during auth
  certbot-apache/certbot_apache/_internal/http_01.py
  certbot-apache/tests/http_01_test.py
  certbot/CHANGELOG.md
Labels: area: apache

#8919 Improve standalone errors
  acme/acme/standalone.py
  acme/tests/standalone_test.py
  certbot/certbot/_internal/plugins/standalone.py
  certbot/tests/plugins/standalone_test.py
Labels: area: error handling, area: standalone, area: ui / ux

#8911 docs: explain the situation with --manual renewal
  certbot/docs/using.rst
Labels: area: documentation, area: manual authenticator, area: renewal
