Repository certbot/certbot, pull requests merged in 2022-06, with the labels that each got.

#9307 Change `query_registration()` to use `_get_v2_account()`
  acme/acme/client.py
  acme/tests/client_test.py
  certbot/CHANGELOG.md
Labels: area: acme

#9318 docs: clarify that we're not merging any new plugins (not just DNS)
  certbot/docs/contributing.rst
Labels: area: documentation

#9326 Change snapcraft authentication to use SNAPCRAFT_STORE_CREDENTIALS
  .azure-pipelines/templates/stages/deploy-stage.yml
  .gitignore
Labels: area: snaps

#9334 Update generated CSRs to create V1 CSRs
  AUTHORS.md
  acme/acme/crypto_util.py
  acme/tests/crypto_util_test.py
  certbot/CHANGELOG.md
Labels: area: spec-compliance, area: acme
