Repository certbot/certbot, pull requests merged in 2022-10, with the labels that each got.

#9408 TSIG SOA query fix
  AUTHORS.md
  certbot-dns-rfc2136/certbot_dns_rfc2136/_internal/dns_rfc2136.py
  certbot/CHANGELOG.md
Labels: area: dns, priority: unplanned

#9402 certbot-apache: use httpd by default for CentOS/RHEL
  certbot-apache/certbot_apache/_internal/apache_util.py
  certbot-apache/certbot_apache/_internal/configurator.py
  certbot-apache/certbot_apache/_internal/override_centos.py
  certbot-apache/certbot_apache/_internal/parser.py
  certbot-apache/tests/centos_test.py
  certbot-apache/tests/util.py
  certbot/CHANGELOG.md
Labels: area: fedora / redhat / CentOS, area: apache

#9444 Fix changelog entry
  certbot/CHANGELOG.md
Labels: area: documentation
