Repository certbot/certbot, pull requests merged in 2022-01, with the labels that each got.

#9132 Various clean-ups in certbot-apache. Use f-strings.
  certbot-apache/certbot_apache/_internal/apache_util.py
  certbot-apache/certbot_apache/_internal/apacheparser.py
  certbot-apache/certbot_apache/_internal/augeasparser.py
  certbot-apache/certbot_apache/_internal/configurator.py
  certbot-apache/certbot_apache/_internal/display_ops.py
  certbot-apache/certbot_apache/_internal/interfaces.py
  certbot-apache/certbot_apache/_internal/obj.py
Labels: area: apache, area: python, priority: unplanned

#9164 Add wildcard example
  certbot-dns-digitalocean/certbot_dns_digitalocean/__init__.py
Labels: more-info

#9071 Add typing to certbot.apache
  certbot-apache/certbot_apache/_internal/apache_util.py
  certbot-apache/certbot_apache/_internal/apacheparser.py
  certbot-apache/certbot_apache/_internal/assertions.py
  certbot-apache/certbot_apache/_internal/augeasparser.py
  certbot-apache/certbot_apache/_internal/configurator.py
  certbot-apache/certbot_apache/_internal/constants.py
  certbot-apache/certbot_apache/_internal/display_ops.py
  certbot-apache/certbot_apache/_internal/dualparser.py
  certbot-apache/certbot_apache/_internal/entrypoint.py
  certbot-apache/certbot_apache/_internal/http_01.py
  certbot-apache/certbot_apache/_internal/interfaces.py
  certbot-apache/certbot_apache/_internal/obj.py
  certbot-apache/certbot_apache/_internal/override_centos.py
  certbot-apache/certbot_apache/_internal/override_debian.py
  certbot-apache/certbot_apache/_internal/override_fedora.py
  certbot-apache/certbot_apache/_internal/override_gentoo.py
  certbot-apache/certbot_apache/_internal/parser.py
  certbot-apache/certbot_apache/_internal/parsernode_util.py
  certbot-apache/tests/parser_test.py
  certbot-apache/tests/util.py
  certbot-compatibility-test/certbot_compatibility_test/configurators/common.py
  certbot/certbot/_internal/client.py
  certbot/certbot/interfaces.py
  certbot/certbot/plugins/common.py
  certbot/certbot/tests/util.py
Labels: area: apache, area: python

#9094 Dns-google: update permissions needed in documentation
  certbot-dns-google/certbot_dns_google/__init__.py
  certbot/CHANGELOG.md
Labels: area: documentation, area: 3rd party, area: dns, priority: unplanned

#9149 dns-digitalocean: Ignore SOA TTL in favor of explicit TTL argument
  certbot-dns-digitalocean/certbot_dns_digitalocean/_internal/dns_digitalocean.py
  certbot/CHANGELOG.md
Labels: area: 3rd party, area: dns, priority: high
