Repository certbot/certbot, pull requests merged in 2023-02, with the labels that each got.

#9556 Fix docs google permissions
  AUTHORS.md
  certbot-dns-google/certbot_dns_google/__init__.py
Labels: area: documentation, area: dns, priority: significant

#9355 Configuration File Update w/o Certificate Issuance
  certbot-ci/certbot_integration_tests/certbot_tests/test_main.py
  certbot/CHANGELOG.md
  certbot/certbot/_internal/cli/__init__.py
  certbot/certbot/_internal/cli/cli_constants.py
  certbot/certbot/_internal/cli/group_adder.py
  certbot/certbot/_internal/cli/helpful.py
  certbot/certbot/_internal/cli/plugins_parsing.py
  certbot/certbot/_internal/cli/verb_help.py
  certbot/certbot/_internal/constants.py
  certbot/certbot/_internal/hooks.py
  certbot/certbot/_internal/main.py
  certbot/certbot/_internal/renewal.py
  certbot/certbot/_internal/storage.py
  certbot/tests/main_test.py
  certbot/tests/renewal_test.py
Labels: area: ui / ux, area: cert management, area: hooks

#9563 docs: document reconfigure verb
  certbot/docs/using.rst
Labels: area: documentation

#9584 Polish snap_build.py
  tools/snap/build_remote.py
Labels: area: tooling, priority: significant
